@if (Plant != null && PlantVariety != null)
{
    <article id="plantVarietyView">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div>
                        <div>
                            Image Goes Here
                        </div>
                        <div>
                            Thumb goes here
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div>
                        <div class="plant-facts">
                            <h3 class="plant-facts_heading">Quick Facts</h3>
                            <dl class="plant-facts__list">
                                <dt class="plant-facts_term">Sun Requirements</dt>
                                <dd class="plant-facts_definition">@Plant.LightRequirement</dd>
                                @*   <dt class="plant-facts_term">Moisture Requirements</dt>
                                    <dd class="plant-facts_definition">@moisture</dd>*@
                                <dt class="plant-facts_term">Days To Maturity</dt>
                                <dd class="plant-facts_definition">@PlantVariety.DaysToMaturityMin to PlantVariety.DaysToMaturityMax</dd>
                                <dt class="plant-facts_term">Height (in) </dt>
                                <dd class="plant-facts_definition">@PlantVariety.HeightInInches</dd>
                                <dt class="plant-facts_term">Seeds Viable (years) </dt>
                                <dd class="plant-facts_definition">@Plant.SeedViableForYears</dd>
                                <dt class="plant-facts_term">Features</dt>
                                @*  <dd class="plant-facts_definition">
                                    @if (PlantVariety.IsHeirloom)
                                    {<img src="/images/H.png" class="tooltip-img-alt plant-facts_icon" alt="Heirloom">}
                                    @* @if (Plant.IsFallCrop)
                                    {<img src="/images/F.png" class="tooltip-img-alt plant-facts_icon" alt="Fall Crop">}
                                    @if (Plant.Lifecycle.Equals("Perenial"))
                                    {<img src="/images/P.png" class="tooltip-img-alt plant-facts_icon" alt="Perenial">}
                                    </dd>*@
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="plant-details">
                    <h3 class="plant-facts_heading">Description</h3>
                    <p>
                        @PlantVariety.Description
                    </p>

                    <h3 class="plant-facts_heading">Planting Instructions</h3>

                </div>
            </div>
        </div>
    </article>
}

@code {
    [Parameter] public PlantModel? Plant { get; set; }
    [Parameter] public PlantVarietyModel? PlantVariety { get; set; }
}
